* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
}

.HomePage_Container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.HomePage_Logo {
    width: 100%;
    display: flex;
    margin-top: -10px;
}

.HomePage_Logo img {
    max-width: 20%; 
    height: auto;
}

.HomePage_Layout {
    display: flex; /* Allows for two columns */
    flex: 1; /* Takes the remaining height */
}

.HomePage_SideBar {
    width: 21%;
    background: linear-gradient(180deg, #3C3181 0%, #321F59 100%);
    color: white;
    padding: 20px;
    border-top-right-radius: 80px; 
    height: 100%; 
    display: flex;
    flex-direction: column;
}

.HomePage_NavigationLinks {
    list-style-type: none;
    padding: 0;
}

.HomePage_NavigationLinks li {
    margin-left: 40px;
}

.HomePage_NavigationLinks a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center; 
    font-size: large;
}

.HomePage_NavigationIcon {
    width: 50%; 
    height: auto; 
    margin-left: -30px;
}

.HomePage_UserInfo {
    display: flex;
    align-items: center;
    margin-top: 120px;
}

.HomePage_UserAvatar {
    width: 50%;
    height: auto;
}

.HomePage_UserAccount {
    display: flex;
    align-items: center;
    text-decoration: none; 
    color: white; 
}

.HomePage_UserAccount span {
    margin-left: -27px;
}

/* page main content */
.HomePage_MainContent {
    margin-left: 3%; 
    margin-top: 70px;
    padding: 20px;
    overflow-y: auto; 
    height: calc(100vh - 220px);
    position: relative;
    box-sizing: border-box;
}

.HomePage_MainContent::-webkit-scrollbar {
    display: none;
}

.HomePage_TopPart {
    position: fixed; 
    height: 150px;
    top: 80px;
    z-index: 1; 
    display: flex; 
    flex-direction: column; 
    align-items: flex-start; 
    background-color: #ffffff; 
    z-index: 10; 
    width: 100%; 
    padding: 10px; 
}

.HomePage_TopPart h1 {
    font-size: 36px; 
    color: #3C3181; 
    margin-bottom: 10px;
}

.HomePage_SearchBar {
    display: flex;
    align-items: center;
    gap: 10px; 
    margin-bottom: 20px;
}

.HomePage_SearchBar input {
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
}

.HomePage_AddGymButton {
    display: inline-flex;  
    align-items: center;  
    background: linear-gradient(90deg, #3C3181 0%, #321F59 100%);
    padding: 8px 20px;
    border-radius: 5px;
    color: white;
    border: none;  
    margin-left: 310px;
}

.HomePage_AddGymButton:active {
    transform: translateY(2px); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

.HomePage_AddGymButton img {
    width: 25px;   
    margin-right: 8px; 
    vertical-align: middle; 
}
/* gyms */

.HomePage_GymAndBranches {
    margin-bottom: 20px;
    margin-left: 10px;
}

/* gym top part */
.HomePage_GymsTopPart {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background: linear-gradient(90deg, #3C3181 0%, #321F59 100%);
    padding: 15px;
    border-radius: 10px;
    width: 750px;
    box-sizing: border-box; 
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.HomePage_GymBox {
    display: flex;
    flex-direction: column; 
}

.HomePage_GymName {
    font-size: 18px;
    color: #ffffff;
    flex-grow: 1; 
    margin-right: 10px;
}

.HomePage_AddBranchButton {
    padding: 5px 10px;
    background: white;
    color: #321F59;
    border-radius: 5px;
    text-decoration: none;
    font-size: 12px;
    margin-right: 10px; 
}

.HomePage_AddBranchButton:active {
    transform: translateY(2px); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

.HomePage_AddIcon {
    width: 15px;
    margin-right: 5px;
}

.HomePage_EditIcon {
    width: 20px;
    height: auto;
    cursor: pointer;
}

.HomePage_EditIcon:active {
    transform: translateY(2px); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

.HomePage_AddBranchButton:hover, .HomePage_EditIcon:hover {
    opacity: 0.8;
    transition: opacity 0.2s ease-in-out;
}


/* branch details */
.HomePage_BranchList {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px; 
}

.branch-details a {
    text-decoration: none;
}

.HomePage_BranchItem{
    border: 2px solid #3C3181;  
    border-top: none; 
    padding: 10px; 
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start; 
    width: 90%;
    margin-left: 37px;
    background: rgba(255, 255, 255, 0.5); 
    border-radius: 5px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    position: relative; 
    overflow: hidden;
}

.HomePage_GymImage img {
    width: 200px; 
    height: auto; 
    margin-top: -10px;
    margin-left: -10px;
    margin-bottom: -14px;
}

.HomePage_BranchDetails{
    display: flex;
    flex-direction: column; 
    margin-top: 20px; 
    flex: 1; 
    max-height: 60px; 
    max-width: 300px;
    overflow: hidden; 
}

.HomePage_BranchLocation {
    font-size: 16px;
    color: #3C3181; 
}

.HomePage_BranchName {
    font-size: 14px; 
    color: #666666; 
}

/* actions */
.HomePage_BranchActions {
    display: flex; 
    flex-direction: column;
    align-items: flex-end; 
}

.HomePage_TopActions {
    display: flex; 
    align-items: center; 
} 

img[alt="insight-icon"] {
    margin-right: -60px;
}

.HomePage_ActionIcon {
    width: 100px;
    height: auto; 
    cursor: pointer; 
    margin-right: -30px;
}

.HomePage_ViewLogs {
    background-color: transparent; 
    border: none; 
    color: #3C3181; 
    padding: 5px 10px; 
    border-radius: 5px;
    cursor: pointer; 
    display: flex; 
    align-items: center; 
    margin-bottom: 5px;
}

.HomePage_ViewLogs img {
    width: 16px; 
    margin-left: 5px; 
    cursor: pointer;
}

